/AA.BAT
/BB.bat
/C7202.scp
/COM.C.bak
/data1.C
/DFI6-140208(v006).bin
/dfi6-378.bin
/DFI6.001
/DFI6.368
/DFI6.377
/DFI6.378
/DFI6.398
/DFI6.3A8
/DFI6.999
/DFI6.axf
/DFI6.bin
/dfibmp.lst
/DSP.C.bak
/DUMP.EXE
/eep.c.bak
/FLASHC~1.BAK
/INIT.c.bak
/INITC~1 - 복사본.BAK
/KBMS.EXE
/Lpc501.lnk
/main.c.bak
/Meas.c.bak
/Q.EXE
/RESM.C.bak
/sysadj.c.bak
/TEST1.tmf
/Touch.c.bak
/UART.C.bak
/zz.bat